language: go
sudo: false
go:
  - 1.4.3
  - 1.5.3
  - 1.6
  - tip

install:
  - go get golang.org/x/net/context
  - go get github.com/gorilla/websocket
  - go get github.com/ugorji/go/codec

script:
  - go test -v ./...
  - go test -v -race ./...

matrix:
  allow_failures:
    - go: tip
