language: go
sudo: false
go:
  - 1.4.2
  - 1.5.2
  - tip

install:
  - go get golang.org/x/net/context
  - go get golang.org/x/net/websocket

script:
  - go test -v ./...
  - go test -v -race ./...

matrix:
  allow_failures:
    - go: tip
